<!DOCTYPE html>
<html>
  <head>
    <title>Dummy Host</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <main id="host-main"><%= yield %></main>
    <%= render "rails_markup/shared/toolbar" %>
  </body>
</html>
